.headerBody {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    left:-400px
}

.list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
}