.App {
  /*margin: 50px auto 0;*/
  /*text-align: center;*/
  display: grid;
  grid-auto-rows: 2fr 10fr;
  /*position: relative;*/
  overflow: hidden;
  /*background-color: bisque;*/
}

.Activity {
  margin: 20px 0;
}

